*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50;
    width: 130px;
}
.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 17.5px;
}
.add-second{
    font-size: 1rem;
    margin-left: 2px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.navsearch{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.searchselect{
    background-color: #f3f3f3;
    width: 46px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchinput{
    width:100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    background-color: #febd68 ;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
.navsearch:hover{
    border: 2px solid orange;
    border-radius: 5px;
}
span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 680;
}
.navcart i {
    font-size: 27px;
}
.navcart{
    font-size: 0.8rem;
    font-weight: 680;
}
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panelops p{
    display: inline;
    margin-left: 18px;
}
.panelops{
    width: 68%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.87rem;
    font-weight: 680;
}
.herosection{
    height: 360px;
    background-size: cover;
    background-image: url("herosection.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    color: black;
    height: 40px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.heromessage a{
    color: #007185;
}
.shopsection{
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boximg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}.boxcontent p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.8rem;
    margin-top: 16px;
    color: #dddddd;
}
.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 46px;
    width: 138px;
}
.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}